.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.skygradientcontent{
  background: #FFFFFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #FFFFFF 0%, #6DD5FA 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #FFFFFF 0%, #6DD5FA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 95%, rgba(255, 255, 255, 0) 100%); */
}

@font-face {
  font-family: AvenueX;
  src: url(../fonts/AvenueX-Regular.otf);
}

.avenuefont{
  font-family: AvenueX;
  font-size: 48;
  text-align: center;
  background-image: url("../images/bluetriangles.jpg");
}