.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padding-top-2x {
    margin-top: 16px;
}

.header-size {
    font-size: 72px;
}

.card-help {
    background-color: black;
}

.margin-2x {
    margin: 16px;
}

.padding-2x {
    padding: 16px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.div-right {
    float: right;
}

.div-left {
    float: left;
}

.pic {
    height: 150px;
    width: 150px;
}

.sub-header-size {
    font-size: 36;
}

.erasecss {
    padding: 0;
    margin: 0;
}

.timeline {
    height: 450px;
    width: 1020px; 
}

.avenuefont{
    font-family: AvenueX;
    font-size: 48;
    text-align: center;
    background-image: url("../images/bluetriangles.jpg");
    /* margin: '0px' !important; */
    height: 10 !important;
    line-height: 10 !important;
  }
  
  .verticalcenter{
    height: 10 !important;
    line-height: 10 !important;
  }
  
  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }