.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padding-top-2x {
    margin-top: 16px;
}

.header-size {
    font-size: 72px;
}

.card-help {
    background-color: black;
}

.margin-2x {
    margin: 16px;
}

.padding-2x {
    padding: 16px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.div-right {
    float: right;
}

.div-left {
    float: left;
}

.pic {
    height: 150px;
    width: 150px;
}

.sub-header-size {
    font-size: 24px;
}

.erasecss {
    padding: none;
    margin: none;
}