.root{
    flex-grow: 1;
}

.flex{
    flex-grow: 1;
}

.menuButton{
    margin-left: -12;
    margin-right: 20;
}

.tabbutton1{
    margin-left: 2em;
    /* position: center; */
}

.tabbutton{
    margin-left: 1em;
}

.skygradient{
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 5%, #6DD5FA 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 5%, #6DD5FA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 95%, rgba(255, 255, 255, 0) 100%); */
}

/* #2980B9 100% */